* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

body {
    /* background: url('https://exploar.in/images/design/blue-main-bg.e27a7e.jpg'); */
    /* background-color: #262837; */
    background-color: #21222c;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.attribution {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 300px;
    color: #FFFFFF;
}

.attribution a {
    color: #FFFFFF;
    text-decoration: none;
}
